*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
*.abb
/release


.idea/caches/

.idea/

fabrevealmenu/

fabrevealmenu/build/intermediates/compiled_local_resources/debug/out/

fabrevealmenu/build/intermediates/incremental/mergeDebugShaders/

fabrevealmenu/build/intermediates/incremental/packageDebugAssets/

fabrevealmenu/build/intermediates/incremental/packageDebugResources/

fabrevealmenu/build/intermediates/manifest_merge_blame_file/debug/

fabrevealmenu/build/outputs/logs/

app/src/main/res/values/ads_key_ids.xml

fabrevealmenu/build/tmp/compileDebugJavaWithJavac/

*.bin

fabrevealmenu/build/intermediates/runtime_library_classes_jar/debug/

fabrevealmenu/build/intermediates/merged_manifest/debug/

fabrevealmenu/build/.transforms/5cc6a3a00ced38a22315203cede44cb4/transformed/classes/classes_dex/

fabrevealmenu/build/.transforms/da1840d138b9dc32165901a8de793fff/transformed/classes/

fabrevealmenu/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/

fabrevealmenu/build/intermediates/javac/debug/classes/com/hlab/fabrevealmenu/view/

fabrevealmenu/build/intermediates/javac/debug/classes/com/hlab/fabrevealmenu/listeners/

*.class

fabrevealmenu/build/intermediates/compile_r_class_jar/debug/

fabrevealmenu/build/intermediates/compile_library_classes_jar/debug/

fabrevealmenu/build/intermediates/aar_metadata/debug/

fabrevealmenu/build/generated/source/buildConfig/debug/com/hlab/fabrevealmenu/

fabrevealmenu/build/intermediates/incremental/debug/packageDebugResources/

unity-ads/build/.transforms/

*.jar

*.java

fabrevealmenu/build/.transforms/

*.kapt_metadata

*.uniqueId2

fabrevealmenu/build/intermediates/compile_only_not_namespaced_r_class_jar/debug/

fabrevealmenu/build/intermediates/compile_library_classes/debug/

fabrevealmenu/build/intermediates/aar_metadata/release/

fabrevealmenu/build/intermediates/annotation_processor_list/release/

fabrevealmenu/build/intermediates/aapt_friendly_merged_manifests/release/aapt/

fabrevealmenu/build/intermediates/compiled_local_resources/release/out/

fabrevealmenu/build/intermediates/incremental/debug-mergeNativeLibs/

fabrevealmenu/build/intermediates/incremental/mergeReleaseJniLibFolders/

fabrevealmenu/build/intermediates/incremental/mergeReleaseShaders/

fabrevealmenu/build/intermediates/incremental/packageReleaseAssets/

fabrevealmenu/build/intermediates/incremental/packageReleaseResources/

fabrevealmenu/build/intermediates/library_manifest/debug/

fabrevealmenu/build/intermediates/library_manifest/release/

fabrevealmenu/build/intermediates/symbols/debug/

fabrevealmenu/build/intermediates/symbol_list_with_package_name/release/

fabrevealmenu/build/intermediates/runtime_library_classes_jar/release/

fabrevealmenu/build/intermediates/res/symbol-table-with-package/debug/

fabrevealmenu/build/intermediates/packaged_res/release/values/

fabrevealmenu/build/intermediates/packaged_res/release/layout/

.kotlin/

app/build/
